@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700');

/*------------------------------------------------body background*/

body {
    background-image: url("./Media/photos/footprints.jpg");
    background-size: 100%;
    background-attachment: fixed;
    line-height: 2.5;
    text-align: center;

}

.background-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px outset #777;
}

h1 {
    font-family: "Courgette", sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #f4f4f4;
    text-shadow: -1px 2px 5px #2f4f4f;
    margin-top: 35px;
    margin-bottom: 5px;
    padding-top: 25px;
}

.heading {
    margin: 25px;
}

.capitalise {
    text-transform: capitalize;
}

/*------------------------------------------------Navbar*/

.navbar {
    word-wrap: normal;
    margin-top: 35px;
    margin-bottom: 50px;
}

.navbar-light {
    font-family: 'Courgette', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-shadow: 0px 2px 3px #00ffff;
}

.nav-link {
    margin-right: 15px;
    margin-left: 15px;
}

.nav-link:hover {
    background-color: #90ee90;
    border-radius: 50%;
}

.dropdown-menu {
    background-color: #90ee90;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10%;
    margin: 0;
    padding: 2px;
}

.dropdown-menu ul li:hover {
    background-color: #777;
}

.ml-auto {
    background-color: #90ee90;
}

.navbar i {
    font-size: 35px;
    padding-top: 0;
    padding-bottom: 5px;
    padding-right: 2px;
    margin: 5px;
    color: #777;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-brand:hover {
    background-color: #90ee90;
    border-radius: 50%;
}

.fa-download {
    margin-right: 2px;
    margin-left: 2px;
}

.fa-download:hover {
    color: #90ee90;
}

/*------------------------------------------Media queries*/

@media (max-width: 300px) {
    .ml-auto:hover {
        background-color: #777;
    }
    .dropdown-item:hover {
        background-color: #777;

    }
    #navbarNavDropdown {
        background-color: #90ee90;
    }

    #navbarNavDropdown ul li:hover {
        background-color: #90ee90;
    }
    .social-links,
    .social-title {
        font-size: 30px;
    }
}

@media (max-width: 3800px) {
    .dropdown-menu {
        background-color: #90ee90;
        color: #777;
    }
    .dropdown-item:hover {
        background-color: #777;
        color: #90ee90;
    }

    .col-lg-3 {
        flex: 30%;
        max-width: 100%;
    }
}

/*------------------------------------------------Homepage*/

.homepage a {
    text-decoration: none;
    height: 100%;
}

.introduction {
    height: 90%;
    width: 90%;
}

.img-10 {
    float: left;
    width: 15%;
    border-radius: 50%;
    border: groove #777;
}

.img-20 {
    float: right;
    width: 20%;
    border-radius: 50%;
    border: groove #777;
    margin: 2px;
}

.img-30 {
    float: left;
    width: 30%;
    border: groove #777;
    margin: 2px;
}

.img-50 {
    margin-left: 25px;
    margin-bottom: 20px;
    width: 100%;
    float: none;
    border-style: groove;
    border-radius: 50%;
}

/*--------------------------------------------texts,p*/

.container-title {
    text-align: center;
    margin: 35px;
    font-family: "Courgette", sans-serif;
    color: #00ffff;
    text-shadow: -1px 2px 5px #2f4f4f;
}

.container-title i {
    font-size: 30px;
    padding: 15px;
    margin: 15px;
}

.dog-name {
    font-family: "Courgette", sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-left: 25px;
    text-shadow: -1px 2px 1px #191970;
}

/*----------------------------------------about us section*/

.about {
    margin: 25px;
    font-family: "Courgette", sans-serif;
    font-size: 33px;
    color: #2f4f4f;
}

.about .about-title {
    color: #f8f8ff;
    text-shadow: -3px 2px 2px #00008b;
    font-size: 36px;
    padding: 5px 2px;
}

#frame {
    border: 2px outset #777;
    font-size: 33px;
    margin-top: 45px;
    margin-bottom: 100px;
    padding: 10px;
    font-weight: 200;
    background-color: #fff;
}

/*----------------------------------------newsletter button*/

.btn-color {
    background-color: #90ee90;
    font-family: "Pacifico", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 40px 25px 150px;
    padding-left: 4px;
    border-radius: 50px;
}

.btn-color:hover {
    color: #90ee90;
    background-color: #777;
}

/*----------------------------------------Modal styling*/

.modal-title {
    font-family: "Pacifico", sans-serif;
    font-size: 25px;
    margin: 10px 5px;
}

.modal-content {
    background-color: #90ee90;
    text-shadow: -3px 2px 0.5px #ffefd5;
    color: #777;
}

.modal-footer .btn-danger,
.btn-info {
    margin-right: 20px;
}

.modal-body {
    padding: 0 15px 0 15px;
    top: 5px;
    bottom: 0;
    margin-top: 10px;
}


/*----------------------------------------footer*/

.footer {
    border: 3px inset #90ee90;
    background-color: rgba(47, 79, 79, .3);
    padding-top: 25px;
    margin: 0 5px 0 0 ;
    text-align: center;
}

.contacts .social-title {
    font-family: "Courgette", sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #90ee90;
    text-shadow: -1px 2px 5px #2f4f4f;
}


.social-links {
    list-style: none;
    padding-right: 25px;
    font-family: "Pacifico", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: -1px 1px 4px #000;
}

.social-links li a {
    text-decoration: none;
    font-family: "Pacifico", sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #f4f4f4;
    text-shadow: -1px 1px 4px #000;
}

.social-links li a:hover {
    background-color: #777;
    color: #90ee90;
    border-radius: 30%;
}

.social-links li i {
    font-size: 30px;
    height: 45px;
    width: 45px;
}

.social-title {
    word-break: keep-all;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    font-family: "Courgette", sans-serif;
    border-radius: 20%;
    color: #90ee90;
    text-shadow: -1px 2px 5px #2f4f4f;
    background-color: rgba(/*144, 238, 144,*/
    105, 105, 105, 0.8);
}

.contact-heading {
    font-family: "Courgette", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.form-control {
    font-size: 20px;
    background-color: #90ee90;
}

.control {
    background-color: #90ee90;
}

.center-form {
    padding: 15px 5px 10px;
    margin: 15px auto;
    max-width: 80%;
}

button[type="submit"] {
    margin-bottom: 20px;
    margin-top: 13px;
    color: #90ee90;
    background-color: #777;
}

button[type="submit"]:hover {
    background-color: #90ee90;
    color: #777;
}
