@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700');

/*------------------------------------------------body background*/

body {
    background-image: url("./Media/paws.jpg");
    background-size: 40%;
    line-height: 2.5;
    text-align: center;
}

h1 {
    font-family: "Courgette", sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #800000;
    margin: 20px;
}

.capitalise {
    text-transform: capitalize;
}

/*------------------------------------------------Navbar*/

.navbar-light {
    font-family: 'Courgette', sans-serif;
    font-weight: 600;
    font-size: 25px;
}
.nav-link{
    margin-right: 25px;
    margin-left: 25px;
}
.nav-link:hover {
    background-color: #90ee90;
    border-radius: 30%; 
}

.dropdown-menu {
    background-color: #90ee90;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10%;
}

.dropdown-menu ul li:hover {
    background-color: #777;
}

.ml-auto {
    background-color: #90ee90;
}

.navbar i {
    font-size: 35px;
    padding-top: 0;
    padding-bottom: 5px;
    padding-right: 2px;
    margin: 5px;
    color: #777;
}

.navbar-brand:hover {
    background-color: #90ee90;
    border-radius: 30px;
}


@media (max-width: 300px) {
    .ml-auto:hover {
        background-color: #777;
    }
    .dropdown-item:hover {
        background-color: #777;

    }
    #navbarNavDropdown {
        background-color: #777;
    }

    #navbarNavDropdown ul li:hover {
        background-color: #90ee90;
    }
    .social-links,.social-title {
        font-size: 30px;
    }

}

@media (max-width: 3800px) {
    .dropdown-menu {
        background-color: #90ee90;
        color: #777;
    }
    .dropdown-item:hover {
        background-color: #777;
        color: #90ee90;
    }
    .navbar-expand-sm {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
}


/*------------------------------------------------Homepage*/

.homepage a {
    text-decoration: none;
    height: 100%;
}

.introduction {
    height: 90%;
    width: 90%;
}


.img-50 {
    margin-left: 25px;
    width: 100%;
    float: none;
    border-style: groove;
    border-radius: 50%;
}



/*--------------------------------------------texts,p*/

.container-title {
    text-align: center;
    margin: 35px;
    font-family: "Courgette", sans-serif;
    color: #9400d3;
}

.container-title i {
    font-size: 30px;
    padding: 5px;
    margin: 5px;
}

.dog-name {
    font-family: "Courgette", sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-left: 25px;
    text-shadow: -3px 2px 0.5px #ffefd5;

}

/*----------------------------------------about us section*/

.about {
    margin: 25px;
    font-family: "Pacifico", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #008000;
}

.about-title {
    text-shadow: -3px 2px 0.5px #ffefd5;
}

/*===============================border-line*/

.end {
    height: 5px;
    width: 80vw;
    border: 0;
    background-color: #fff;
}

/*----------------------------------------newsletter button*/

.btn-color {
    background-color: #90ee90;
    font-family: "Pacifico", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px 25px;
    padding-left: 4px;
    border-radius: 50px;
}

.btn-color:hover {
    color: #90ee90;
    background-color: #777;
}

/*----------------------------------------Modal styling*/

.modal-title {
    font-family: "Pacifico", sans-serif;
    font-size: 25px;
    margin: 10px 5px;
}

.modal-content {
    background-color: #90ee90;
    text-shadow: -3px 2px 0.5px #ffefd5;
    color: #777;
}

.modal-footer .btn-danger,
.btn-info {
    margin-right: 20px;
}

.modal-body {
    padding: 0 15px 0 15px;
    top: 5px;
    bottom: 0;
    margin-top: 10px;
}


/*----------------------------------------footer*/

.footer {
    background-color: rgba(100, 170, 80, .5);
    padding-top: 25px;
    margin: 40px 5px 0px 0px;
    text-align: center;
}

.social-links {
    list-style: none;
    padding-right: 25px;
}

.social-links li a {
    text-decoration: none;
    font-family: "Pacifico", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #008000;
}

.social-links li a:hover {
    background-color: #777;
    color: #90ee90;
    border-radius: 30%;
}

.social-links li i{
    font-size: 30px;
    height: 45px;
    width: 45px;
}
.social-title {
    word-break: keep-all;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    font-family: "Courgette", sans-serif;
    color: #9400d3;
    border-radius: 20%;
    background-color: rgba(144, 238, 144, 0.4);
}
